<h1>Create Your Team</h1>

<% unless locals.empty? %>
    <%= message %>
<% end %>

<h3> Sign Up </h3>
<form action='/signup' method='post'>
    <p>Team Name:</p><input type='text' name='team_name'>
    <p>Email:</p><input type='text' name='email'>
    <p>Password:</p><input type='password' name='password'><br></br>
    <input type='submit' value='Submit'>
</form>