<h1>Login</h1>
<form method='post' action='/login'>
    <input type='text' name='team_name' placeholer='Team Name'>
    <input type='password' name='password' placeholer='Password'>
    <input type='submit' value='Submit'>
</form>