<h2> Add a player </h2>
<form action='/players' method='post'>
 <p>Name: <input type='text' name='name'></p>
 <p>Position: <input type='text' name='position'></p>
 <p>Games: <input type='number' name='games'></p>
 <p>Goals: <input type='number' name='goals'></p>
 <p>Saves: <input type='number' name='saves'></p>
 <p>Assists: <input type='number' name='assists'></p>
 <p>Blocks: <input type='number' name='blocks'></p>
 <p>Shots: <input type='number' name='shots'></p>
 <p>Interceptions: <input type='number' name='interceptions'></p>
 <p>Passes: <input type='number' name='passes'></p>
 <p>Red Cards: <input type='number' name='red_cards'></p>
 <p>Yellow Cards: <input type='number' name='yellow_cards'></p>
 <input type='submit' value='Submit'>
</form>