<html>
<h1>Player Tracker</h1>

  <nav>
  <% if logged_in? %>
    <p>Welcome, <%= current_user.team_name %></p>
    <a href='/players'>Roster</a>
    <a href='/logout'>Log Out</a>

  <% else %>
    <a href='/signup'>Sign Up</a>
    <a href='/login'>Log In</a>
  <% end %>

  </nav>

</html>
