<html>
<head>
  <title>Player Tracker</title>
</head>

  <body>
    <h1 style='text-align-center'>Player Tracker</h1>

    <h3>Please login to your team or singup:</h3>
    <form method='post' action=''>
      <input type='text' name='team_name' placeholder='Team Name'><br>
      <input type='password' name='password' placeholder='Password'>
      <input type='submit' value='Submit'>
    </form>
    <a href="/signup">Sign up</a>
  </body>

</html>
