<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<input type="text" name="email" placeholder="Email"><br>
	<input type="text" name="team_name" placeholder="Team Name"><br>
	<input type="password" name="password" placeholder="Password"><br>
	<input type="submit" value="Sign Up">
</form>
